@import url('./variables.css');
*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--main-font);
    overflow-y: auto;
   
}

nav{
    background: var(--bg-color);
}

/* 
.carousel-container {
    position: relative;
}


.fixed-content {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 80%; 
    text-align: center;
    z-index: 10;
}

.carousel-inner img {
    /* object-fit: cover;  */
/* } */ 